.dialog {
  border: var(--cm-space-0.5) solid var(--color-base-300);
  border-radius: var(--cm-radius-lg);
  padding: 0;
  max-width: var(--cm-modal-max-w);
  width: 90%;
}

.dialog::backdrop {
  background: var(--cm-overlay);
}
